/* slider responsive */
/* @media only screen and (max-width: 600px) {
  .slides .slide-content {
    left: 0%;
  }
} */

@media (min-width: 320px) and (max-width: 576px) {
  /* slider */
  .hero-slider-content h2 {
    font-size: 24px;
    line-height: 27px;
  }
  .hero-slider-content p {
    font-size: 17px;
    line-height: 24px;
  }
  .slides .slide-content {
    width: 100%;
    bottom: 14%;
  }
  .slides .slide-content {
    left: 1%;
  }
  /* feature */
  .sub-heading-style-one {
    font-size: 23px;
    line-height: 27px;
  }
  .art-p-sx {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services-List-block .list-type-two-col li {
    max-width: 100%;
  }
  .imageBoxWrap {
    padding-top: 0px;
  }
  .services-List-block .list-type-two-col li {
    margin-bottom: 30px;
    margin-right: 4px;
  }
  /* who we are */
  .single-box-cintainer {
    margin-bottom: 30px;
  }
  .image-right-align i {
    font-size: 3em;
  }
  /* solution */
  .content-box-content h3 {
    font-size: 17px;
    line-height: 24px;
  }
  /* module */
  .headline-center-container h2 b {
    font-size: 25px;
    line-height: 27px;
  }
  .row-inner .column-inner {
    padding-bottom: 20px;
  }
  .iframe-container {
    padding-bottom: 331px;
  }
  .about-erp p {
    font-size: 15px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 576px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-text-container {
    margin-top: 22%;
  }
  .rightsection-image-with-link {
    margin-top: 7%;
  }
  .footer-left-right {
    margin: 0px auto;
  }
  .content-box-content {
    margin-left: 13px;
  }
}
